@import-normalize;
@import './variables';
@import './mixins';

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $root-font-size;
}

body,
input,
textarea,
button {
  font-family: $primary-font-family;
  word-break: break-word;
}

@page {
  margin: 0;
  size: A4;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    // The height should be 297mm
    // In Firefox 296mm could be used due to a Firefox print mode bug
    // where 297mm is too much for one A4 page
    // However, I set `.page { page-break-after: avoid; }`
    // to cut the content and avoid any page break
    // so the following is not needed
    // @-moz-document url-prefix('') {
    //   height: 297mm;
    // }

    // set -webkit-print-color-adjust so it will work even
    // without postcss/autoprefixer (which might be disabled in dev mode)
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    // Should be perfect in Windows Chrome
    // in Windows Firefox, user should set '100%' print size instead of 'Fit'
    // Mac Chrome
    // Ok in other modern browsers
  }
}

/* source-serif-pro-regular - latin */
@font-face {
  font-weight: 400;
  font-family: 'Source Serif Pro';
  font-style: normal;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
    url('../fonts/source-serif-pro-latin-regular.woff') format('woff');
}
/* source-serif-pro-700 - latin */
@font-face {
  font-weight: 700;
  font-family: 'Source Serif Pro';
  font-style: normal;
  src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'),
    url('../fonts/source-serif-pro-latin-700.woff') format('woff');
}

/* roboto-regular - latin-ext_latin */
@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-latin-ext_latin-regular.woff') format('woff');
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-latin-ext_latin-700.woff') format('woff');
}
