@import '../../../global_styles/variables';
@import '../../../global_styles/mixins';

.title {
  @include section-title-style;
  font-size: 1.18rem;
  font-variant: small-caps;
  background-color: $main-color-light;
  font-feature-settings: normal;
}
