@import '../../../global_styles/variables';

.ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0.75rem;
  line-height: $global-line-height;
  list-style: none;

  li {
    display: flex;
    flex-basis: 50%;
    margin: 0.3rem 0;

    span {
      flex: 1 1 0;

      &.langname {
        font-weight: bold;
      }

      &.langdesc {
        flex-grow: 1.5;
      }
    }
  }
}
