@import '../../../global_styles/mixins';

.item {
  display: flex;
  margin-top: 0.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.time {
  flex-basis: 11rem;
  flex-grow: 0;

  @include small-mobile {
    flex-basis: 5rem;
  }
}

.lines {
  flex: 1 1 0;
}

.title {
  font-weight: bold;
}

.subtitle {
  display: block;
}

.content {
  font-size: 0.9rem;


  a {
    @include link-hover-effect($main-color);

    &,
    &:visited {
      color: $main-color;
    }
  }
}
