@import '../../global_styles/variables';
@import '../../global_styles/mixins';

.section {
  display: flex;
  margin-bottom: $section-margin;
  line-height: $global-line-height;

  @include mobile {
    display: block;
  }

  p {
    margin: 0;
    margin-bottom: 0.3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
