@import '../../global_styles/variables';
@import '../../global_styles/mixins';

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 210mm;
  height: 297mm;
  margin: $page-margin-top-and-bottom auto;
  overflow: hidden;
  background: $main-color;
  border: 0;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.4);

  @include desktop {
    margin-top: $page-margin-top-and-bottom + 5rem;
  }
}

@media only screen and (max-width: 230mm) {
  .page {
    width: calc(100% - 4rem);
  }
}

@media print {
  .page {
    width: initial;
    height: initial;
    margin: 0;
    page-break-after: always;
    background: initial;
    background: $main-color !important;
    border: initial;
    border-radius: initial;
    box-shadow: initial;
    color-adjust: exact !important; // Good in Google Chrome (and similar browsers)
  }
}
