@import '../../global_styles/variables';
@import '../../global_styles/mixins';

.page {
  box-sizing: border-box;
  width: 210mm;
  min-height: 297mm;
  margin: $cv-page-margin-top-and-bottom auto;
  border: 0;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.4);

  @include a4-threshold {
    width: calc(100% - 4rem);
    height: auto;
    min-height: 297mm;
  }

  @include desktop {
    margin-top: $cv-page-margin-top-and-bottom + 5rem;
  }

  @media print {
    margin: 0;
    border: initial;
    border-radius: initial;
    box-shadow: initial;
    color-adjust: exact !important; // Good in Google Chrome (and similar browsers)
  }
}

.pagebreak {
  display: none;
  @media print {
    // width: 100%;
    // height: $projectlist-page-margin * 2;
    break-before: page;
  }
}
