@import '../../global_styles/variables';

.page {
  display: flex;
  flex-direction: column;
  width: 210mm;
  min-height: 297mm;
  margin: 12mm auto;
  background: $main-color;
  border: 0;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 230mm) {
  .page {
    width: calc(100% - 4rem);
  }
}

@media print {
  .page {
    width: initial;
    min-height: initial;
    margin: 0;
    page-break-after: always;
    background: initial;
    background: $main-color !important;
    border: initial;
    border-radius: initial;
    box-shadow: initial;
    color-adjust: exact !important; // Good in Google Chrome (and similar browsers)
  }
}
